<link rel="stylesheet" href="styles.css">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Riley</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
      <ul class="nav-menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </nav>
    <div class="box"></div>
    <div class="text">
      <div class="introduce">
        Hi I'm<br> Riley McKenzie
      </div>
      <div class="little">
        A Little About Me
      </div>
      <div class="tline">
      </div>
      <div class="bline">
      </div>
    </div>
  </body>
  </html>